@import "modificadores";

    $oscuro:#303030;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    font-family: 'Montserrat', sans-serif;
    color: black;
    line-height: 1.6;
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
    h1,h2{
        font-weight: 500;
        line-height: 1.2;
     margin: 10px 0;
    }
  }
  
  /* Barra de navegación */

  .navbar{
    background-color: yellow;
    color: black;
    height: 70px;
    overflow-y:hidden;
    ul{
        display: flex;
    }
    a{
        color:black;
        padding:10px;
        margin: 0 5px;
    }
    .flex{
        justify-content: space-between;
        overflow-y: hidden;

    }
  }

  /* Grid Area Content */
  .content-gridareas{
    display: grid;
    color: aliceblue;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "cover cover cover"
    "img1 content1 content1"
    "content2 content2 img2 ";
    img{
        max-width: 100%;
        height: auto;
    }
    .btn{
        margin-top: 30px;
    }
  }

  /* Cover */

.cover{
    grid-area: cover;
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
  }
  
  .hometitle{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
  }
  
  .home-cover{
    background-image: url(../images/home/coverheader_01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

/* Content */

.img1{
    grid-area: img1;
    height: 100%;
    background-color: $oscuro;
  }
  
  .content1{
    grid-area: content1;
    height: 100%;
    background-color: $oscuro;
  }
  
  .img2{
    grid-area: img2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $oscuro;
    img{
        align-self: flex-end;
    }
  }
  
  .content2{
    grid-area: content2;
    height: 100%;
    background-color: #303030;
  }

/* CDREELS */
.cdtitle{
    display: flex;
    background-color: yellow;
    padding-top: 40px;
  }
  .cdreel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    background-color: yellow;
    img{
        width: 200px;
    }
  }

/* footer */

.footerclass{
    background-color: $oscuro;
    color: white;
    height: 100%;
    padding: 30px 0;
    ul{
        display: flex;
        flex-direction: column;
    }
    a{
        color: white;
        padding: 10px;
        margin: 0 5px;
    }
    .flex{
        justify-content: space-between;

    }
  }
  
  footer{
    flex-wrap: wrap;
    flex-direction: row;
  }

/* mobile */
@media(max-width: 500px){
    .navbar{
      height: 150px;
      color: white;
      .flex{
          flex-direction: column;
      }
      ul{
        padding: 10px;
        background-color: black;
        color: white;
      }
      a{
          color: white;
      }
    }
  
    .content-gridareas{
      display: grid;
      text-align: center;
      color: aliceblue;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "cover"
      "img1"
      "content1"
      "img2"
      "content2";
    }
  
    footer{
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
    
  }
  